.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin: 200px 82px 0 104px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.cart-container{
    color: #000;
    background-color: #FFE0B3;
    height: 800px;
    text-align: center;
}